parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - tests/fixtures
    phpVersion: 80100
    ignoreErrors:
        # Allow new static() in abstract classes - safe for Struct pattern
        - 
            message: '#Unsafe usage of new static\(\)#'
            path: src/Struct.php
        # ArrayAccess can receive any type in runtime despite PHPDoc
        -
            message: '#Call to function is_string\(\) with string will always evaluate to true#'
            path: src/Struct.php
        # Test classes: Struct properties are initialized by parent constructor
        -
            message: '#has an uninitialized readonly property#'
            path: tests/
        # Test code: expressions on separate lines are for testing exceptions
        -
            message: '#on a separate line does not do anything#'
            path: tests/
        # Test code: intentional checks that may be obvious
        -
            message: '#will always evaluate to true#'
            path: tests/
        -
            message: '#does not exist#'
            path: tests/
        -
            message: '#has no value type specified#'
            path: tests/

